/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --ff-kumbh: 'Kumbh Sans';
  --cc-dark-blue: hsl(238, 29%, 16%);
  --cc-soft-red: hsl(14, 88%, 65%);
  --cc-dark-grayish-blue: hsl(237, 12%, 33%);
  --cc-grayish-blue: hsl(240, 6%, 50%);
  --cc-light-grayish-blue: hsl(240, 5%, 91%);
  --cc-white: white;
}

body {
  background: rgb(175, 103, 233);
  background: linear-gradient(180deg, rgba(175, 103, 233, 1) 0%, rgba(101, 101, 231, 1) 100%);
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  max-width: 56rem;
  background-color: var(--cc-white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  border-radius: 1rem;
  padding: 5rem 0rem;
}

.faq-images {
  position: relative;
  justify-self: start;
  /* Background Pattern */
  /* background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
}

.faq-images-box {
  position: absolute;
  left: -102px;
  top: 145px;
  z-index: 1;
}

.faq-images-humans {
  position: relative;
  left: -50px;
}

.faq {
  padding-right: 2rem;
  width: 368px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.faq-title {
  margin-bottom: 2rem;
  font-size: 1.875rem;
}

:is(.faq-question-team, .faq-question-file, .faq-question-password, .faq-question-subscription, .faq-question-support) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 1.5px solid hsla(240, 6%, 50%, 0.2);
  padding: 1rem 0rem;
}

/* Faq questions */
.faq-question>div>p:hover,
.faq-question>div>p:focus {
  color: var(--cc-soft-red);
  cursor: pointer;
}

.faq-question img {
  width: 1rem;
  cursor: pointer;
}

/* Hide qa answer */
.hide-qa-answer {
  display: none;
}

@media only screen and (max-width:768px) {
  main {
    background-image: none;
    background-color: white;
    grid-template-columns: 1fr;
    position: relative;
    font-size: 0.75rem;
  }


  .faq-images {
    position: absolute;
    width: 100%;
    justify-items: center;
    top: -8.4rem;
  }

  .faq-images-humans {
    position: static;
    width: 80%;
    margin: 0 auto;
  }

  /* Prople image shadow */
  /* .faq-images-humans::after {
    background-image: url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    height: 100px;
  } */

  .faq-images-box {
    position: static;
    display: none;
  }

  .faq {
    padding: 4rem 2rem 0rem 2rem;
    height: unset;
  }

  .faq-title {
    text-align: center;
  }
}

@media only screen and (max-width:425px) {
  .faq {
    padding: 2rem;
  }
}